/*appear - on page load*/
.fade-appear {
   opacity: 0.01;
}
.fade-appear.fade-appear-active {
   opacity: 1;
   transition: opacity 2s;
   animation-name: example;
   animation-duration: 1s;
}
@keyframes example {
   0% {
      transform: scale(0.2, 0.2);
      transition-timing-function: linear;
   }
   100% {
      transform: scale(1, 1);
      transition-timing-function: linear;
   }
}
